<div id="div-pagination"></div>
<div>
    <div class="container w-75">
        <div>
            <h1 class="section-title">nossas especialidades</h1>
            <div class="section-sub-title default-style">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="row-group clearfix" id="custom-border-bottom">
                    <div class="grid-icon-box-title">
                        <img src="../assets/imgs/especialidade/vacinacao.png">
                        <h5>Cartão de Vacinação</h5>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
                <div class="row-group clearfix">
                    <div class="grid-icon-box-title">
                        <img src="../assets/imgs/especialidade/cadernetagestante.png">
                        <h5>Caderneta da Gestante</h5>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
            </div>
            <div class="wrapper-image">
                <img src="../assets/imgs/bb1.png">
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="row-group clearfix" id="custom-border-bottom">
                    <div class="grid-icon-box-title">
                        <img src="../assets/imgs/especialidade/doutor.png">
                        <h5>Profissionais Eficientes</h5>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
                <div class="row-group clearfix">
                    <div class="grid-icon-box-title">
                        <img src="../assets/imgs/especialidade/24hrs.png">
                        <h5>Relatório á Disposição</h5>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-pagination"></div>
<div id="news">
    <div class="container w-75">
        <div class="news-content">
                <h1 class="section-title">notícias</h1>
                <div>
                        <div id="posts">
                                <div class="post-horizontal p-left">
                                        <div class="post-content-horizontal p-left">
                                            <div class="details">
                                                <div class="icon-top"><img src="../assets/imgs/news/news.png"></div>
                                                <div class="from">O SUP</div>
                                                <div class="date">00/00/00</div>
                                            </div>
                    
                                            <div class="text-news">
                                                <h2>Lorem Ipsum is simply dummy text</h2>
                                            </div>
                    
                                            <div class="know">
                                                <div class="icon-bottom">
                                                    <fa-icon icon="angle-double-right"></fa-icon> 
                                                </div>
                                                <a href="#">
                                                    <div class="icon-label">Veja mais detalhes</div>
                                                </a>
                                            </div>
                                        </div>
                    
                                        <div class="post-image p-right" style="background-image: url('../assets/imgs/news/aleitamento.jpg')">
                                            <div class="arrow-left"></div>
                                        </div>
                                </div>
                    
                                <div class="post-campaign p-left" style="background-image: url('../assets/imgs/news/campanha1.jpg');">
                                        <div class="details">
                                            <div class="icon-top"><img src="../assets/imgs/news/alto-falante.png"></div>
                                            <div class="from">CAMPANHA</div>
                                        </div>
                    
                                        <div class="more-news_button" style="margin-top:190px; margin-left:100px;">
                                            <a href="#"><h2>SAIBA MAIS</h2></a>
                                        </div>
                                </div>
                    
                                <div class="post-vertical p-left m-right m-top" style="background-image: url('../assets/imgs/news/campanha2.jpg')">
                                    <div class="details">
                                        <div class="icon-top"><img src="../assets/imgs/news/alto-falante.png"></div>
                                        <div class="from">CAMPANHA</div>
                                    </div>
                    
                                    <div class="more-news_button" style="margin-top:500px; margin-left:100px;">
                                        <a href="#"><h2>SAIBA MAIS</h2></a>
                                    </div>
                                </div>
                    
                                <div class="post-horizontal p-left m-top">
                                    <div class="post-content-horizontal p-left">
                                        <div class="details">
                                            <div class="icon-top"><img src="../assets/imgs/news/news.png"></div>
                                            <div class="from">O SUP</div>
                                            <div class="date">00/00/00</div>
                                        </div>
                    
                                        <div class="text-news">
                                            <h2>Lorem Ipsum is simply dummy text</h2>
                                        </div>
                    
                                        <div class="know">
                                            <div class="icon-bottom">
                                                <fa-icon icon="angle-double-right"></fa-icon> 
                                            </div>
                                            <a href="#">
                                                <div class="icon-label">Veja mais detalhes</div>
                                            </a>
                                        </div>
                                    </div>
                    
                                    <div class="post-image p-right" style="background-image: url('../assets/imgs/news/medicacaogravidez.jpg')">
                                        <div class="arrow-left"></div>
                                    </div>
                                </div>
                    
                                <div class="post-horizontal p-left m-top">
                                    <div class="post-content-horizontal p-left">
                                        <div class="details">
                                            <div class="icon-top"><img src="../assets/imgs/news/news.png"></div>
                                            <div class="from">O SUP</div>
                                            <div class="date">00/00/00</div>
                                        </div>
                    
                                        <div class="text-news">
                                            <h2>Lorem Ipsum is simply dummy text</h2>
                                        </div>
                    
                                        <div class="know">
                                            <div class="icon-bottom">
                                                <fa-icon icon="angle-double-right"></fa-icon> 
                                            </div>
                                            <a href="#">
                                                <div class="icon-label">Veja mais detalhes</div>
                                            </a>
                                        </div>
                                    </div>
                    
                                    <div class="post-image p-right" style="background-image: url('../assets/imgs/news/fertilizacao.jpg')">
                                        <div class="arrow-left"></div>
                                    </div>
                                </div>
                    
                                    
                        </div>
                </div>
        </div>
    </div>  
</div>
<div id="div-pagination"></div>





