

  <body class="bg-image">
      <div class="container">

<div  fxLayout="row" fxLayoutAlign="space-around center" >
    <div align="center" fxLayout="row" fxLayoutAlign="center center"  class="register-form">
  
      <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        
  
      <mat-card class="mat-elevation-z8" flex="80">
  
        <mat-card-title>Cadastro para Login</mat-card-title>
  
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch" style="width: 700px;">
                      
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="45">
              <input matInput type="text" formControlName="firstname" 
                autocomplete="firstname" placeholder="Nome">
            </mat-form-field>               
            <mat-form-field fxFlex="45">
              <input matInput type="text" formControlName="lastname" 
                autocomplete="lastname" placeholder="Sobrenome" >
            </mat-form-field>               
          </div>
  
          <mat-form-field>
            <input matInput type="text" formControlName="address" 
                  autocomplete="address" placeholder="Endereço" >
          </mat-form-field>
  
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="75"> 
              <input matInput type="text" formControlName="city" 
                autocomplete="city" placeholder="Cidade"  >
            </mat-form-field>
          
            <mat-form-field  fxFlex="15">
              <mat-select matNativeControl placeholder="State" formControlName="Estado">
                <mat-option *ngFor="let state of states" [value]="state">
                  {{state}}
                </mat-option>
              </mat-select>
            </mat-form-field>          
            
          </div>          
  
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="45"> 
              <input matInput type="text" formControlName="phone" 
                autocomplete="Phone" placeholder="Telefone Fixo"  >
            </mat-form-field>
            <mat-form-field fxFlex="45">               
              <input matInput type="text" formControlName="mobilephone" 
                autocomplete="mobilephone" placeholder="Telefone Celular"  >
            </mat-form-field>
          </div>  
  
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="100">
              <input matInput type="email" formControlName="email" 
                class="form-control" value="" autocomplete="email" placeholder="E-mail" >
            </mat-form-field>  
          </div>
  
          <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field  fxFlex="40">
              <input matInput type="password" formControlName="password1" 
                type="password" autocomplete="off">
              <mat-placeholder>
                <mat-icon>lock</mat-icon> New password
              </mat-placeholder>
            </mat-form-field>

            <mat-form-field fxFlex="40">
              <input matInput type="password" formControlName="password2" 
                    type="password"  autocomplete="off">
              <mat-placeholder>
                <mat-icon>lock_outline</mat-icon> Password confirmation
              </mat-placeholder>
            </mat-form-field>
          </div>
  
  
          <div fxLayout="row" fxLayoutAlign="end end" >
              <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Register
              </button>
          </div>
  
  
  
          </mat-card-content>
      </mat-card>
      </form>
  
  
    </div>
  </div>


</div>

  </body>