.template_pediatria{
  width:100%;
  height:330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > p{
  vertical-align: middle;
  float: none;
  color: white;
  font-size: 40px;
  font-weight: 200;
  top:150px;
}

#breadcrumb-navigation{
  background-color: #fff;
  border-top: 1px solid #dfe2e7;
  margin-bottom:50px;
}
#breadcrumb-navigation ul{
  list-style: none;
  padding:0px;
}
#breadcrumb-navigation ul li{
  float:left;
  margin-left:10px;
}

#breadcrumb-navigation li img{
  margin-right:5px;
  float:left;
}

#breadcrumb-navigation li a{
  line-height:10px;
  font-size: 12px;
  color: #88909b;
}

.menu{
  margin:0 auto;
}

#nav-top{
  width:100%;
  background-color: #fff;
  border-top: 1px solid #dfe2e7;
  border-bottom: 1px solid #dfe2e7;
  height:71px;
}


#nav-top ul{
  float: left;
  border-left: 1px solid #dfe2e7;
  list-style: none;
  padding:0px;
  position:absolute;
}

#nav-top ul li{
  float: left;
  padding: 0 10px;
  border-right: 1px solid #dfe2e7;
  line-height: 70px;
}

#nav-top a{
  color: #88909b;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
}

#nav-top a:hover {
  color:#355471;
  text-decoration: none;
}

.pag_doctor{
  background-color: #f4f6f8;
}

.pag_doctor h1{
  font-size: 28px;
  line-height: 45px;
  font-weight: 200;
  color: #88909b;
  border-bottom: 1px solid #dfe2e7;
  padding:70px 13px 13px 0;
}

#content {
  font-family: Roboto-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #88909b;
}

article{
  color: #88909b;
  font-size:13px;
}

.search-simples{
  position: relative;
  margin-top: 20px;
}

.search-simples button{
  width: 80px;
  float:right;
}

#form-search input{
  float: left;
  width: 420px;
  padding: 5px 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #88909b;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c8d1de;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.button-blue{
  color: #fff;
  border: 1px solid #355471;
  background: -webkit-linear-gradient(#638eb6,#355471);
  background: linear-gradient(#638eb6,#355471);
  border-radius: 4px;
  line-height: 30px;
}

.button-blue a{
  text-decoration: none;
  color: #fff;
}

#search-filter{
  margin-top:60px;
  border-bottom: 1px solid #355471;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#search-filter img{
  float:left;
  margin-right:10px;
}

#search-filter  h2{
    font-family: BentonSans-Book,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #355471;
    line-height: 40px;
}

.search-alfabeto{
  margin-top: 10px;
}

.search-alfabeto table{
  width:100%;
}

.search-alfabeto td{
  min-width: 10px;
  font-size: 17px;
  text-align: center;
}

.search-alfabeto td a{
  color: #88909b;
  font-weight: 100;
}

.search-alfabeto td a:hover{
  color: #355471;
}

.col-md-offset-1{
  margin-left: 8.33333333%;
}

#calendar-lateral{
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.widgets-titulo_right{
  position: relative;
  background-color: #355471;
  text-transform: uppercase;
  color: #fff;
  padding:10px;
  margin-bottom:10px;
}
.widgets-titulo_right img{
  float:left;
}

.widgets-titulo_right h5{
  font-size:13px;
  font-weight: bold;
  line-height: 30px;
  margin:0px 0px 0px 50px;
}
.example-full-width{
  width:100%;
}

.mat-form-field-wrapper{
  margin:5px;
}

#footer-content{
  border: 0;
  border-top: 1px solid #eee;
  padding:10px;
 }

 #footer-content p{
	height:20px;
	margin: 0 auto;
	overflow: hidden;
	text-transform: uppercase; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 13px; 
	color: #747474;
}

.copyright a {font-weight: 800;}

#footer-content a { 
	color: #747474; 
	margin-right: 1em; 
	text-decoration: none;
}

#developers{
	float:right;
}
 
#div-pagination{
  height:100px;
}