<section class="section-informacoes">
    <div class="container w-75" >
      <div class="row">
        <h1 class="section-title">estrutura</h1>
        <div class="col-md-3 text-center">
          <div class="icon-inf"><img src="../assets/imgs/estrutura/res.png"></div>
          <h2>Resultados de Exames</h2>
          <div class="regular-text">
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
          <a href="#" class="saiba-mais">SAIBA MAIS.</a>
        </div>
     
        <div class="col-md-3 text-center">
          <div class="icon-inf"><img src="../assets/imgs/estrutura/app-mob.png"></div>
          <h2>Baixe o App</h2>
          <div class="regular-text">
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
          <a href="#" class="saiba-mais">SAIBA MAIS.</a>
        </div>
     
        <div class="col-md-3 text-center">
          <div class="icon-inf"><img src="../assets/imgs/estrutura/seg-dados.png"></div>
          <h2>Segurança dos Dados</h2>
          <div class="regular-text">
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
            <a href="#" class="saiba-mais">SAIBA MAIS.</a>
        </div>
  
        <div class="col-md-3 text-center">
          <div class="icon-inf"><img src="../assets/imgs/estrutura/prontuario.png"></div>
          <h2>Prontuário Eletrônico</h2>
          <div class="regular-text">
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
          <a href="#" class="saiba-mais">SAIBA MAIS.</a>
        </div>
      </div>
    </div>  
  </section>
<div id="div-pagination"></div> 

  <footer>
    <div class="container w-75">
        <div class="col-sm-6 col-md-6">
          <div class="row-group clearfix">
            <div class="col-sm-6 col-md-6">
              <h5>Exames</h5>
              <ul>
                <li><a href="#">Resultados</a></li>
                <li><a href="#">Relação de Exames</a></li>
                <li><a href="#">Agendamento de Serviços</a></li>
                <li><a href="#">Domiciliares</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6">
              <h5>Serviços</h5>
              <ul>
                <li><a href="#">Resultados</a></li>
                <li><a href="#">Relação de Exames</a></li>
              </ul>
            </div>
          </div>
          <div class="row-group clearfix">
            <div class="col-sm-6 col-md-6">
              <h5>Area Cientifica</h5>
              <ul>
                <li><a href="#">Núcleo de Apoio à Pesquisa</a></li>
                <li><a href="#">Assessoria Científica</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6">
              <h5>Sobre o SUP</h5>
              <ul>
                <li><a href="#">Institucional</a></li>
                <li><a href="#">Reconhecimento</a></li>
                <li><a href="#">Certificações</a></li>
                <li><a href="#">Meio Ambiente</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="row-group clearfix">
            <h5>Fale Conosco</h5>
            <ul>
              <li><a href="#">Dúvidas Frequentes</a></li>
              <li><a href="#">Ouvidoria</a></li>
              <li><a href="#">Agendamento de Serviços</a></li>
              <li><a href="#">Fale com o Diretor</a></li>
            </ul>
          </div>
          <div class="row-group clearfix">
            <h5>Trabalhe Conosco</h5>
            <ul>
              <li><a href="#">Carreiras</a></li>
              <li><a href="#">Cadastre seu Currículo</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="row-group clearfix">
            <h5>Contatos</h5>
            <ul>
              <fa-icon icon="phone"></fa-icon><li><a href="#">0000-0000</a></li>
              <fa-icon icon="envelope"></fa-icon><li><a href="#">E-mail</a></li>
              <fa-icon icon="comments"></fa-icon><li><a href="#">Chat</a></li>
              <fa-icon icon="map-marker"></fa-icon><li><a href="#">SHPS 202 CONJ. D CASA 10  Brasília, DF/ BRASIL. CEP:7223800</a></li>
            </ul>
            <div class="rede" id="facebook">
              <a href="#">
                <img class="icone" src="../assets/imgs/icones/facebook.png"/>
              </a>
            </div>
            <div class="rede" id="twitter">
              <a href="#">
                <img class="icone" src="../assets/imgs/icones/twitter.png" />
              </a>
            </div>
            <div class="rede" id="instagram">
              <a href="#">
                <img class="icone" src="../assets/imgs/icones/instagram.png" />
              </a>
            </div>
            <div class="rede" id="youtube">
              <a href="#">
                <img class="icone" src="../assets/imgs/icones/youtube.png" />
              </a>
            </div>
          </div>
        </div>
    </div>
  </footer>
  
  <div id="footer-content">
    <div class="container w-75">
      <p>
        <span class="copyright">© 2019 <a href="#">Sistema Único de Pediatria.</a></span>
        <span id="developers" class="copyright">Web Designer <a href="#">Johnatan C.</a> Programadoras <a href="#">MARISSANIA R., EVANY D.</a></span>
      </p>
    </div>
  </div>
  
  
  
  
