.carousel .carousel-item {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.menu{
    width:660px;
    height:100px;
    position:absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    padding:0px;

.layer{
    width:150px;
    height:50px;
    float:left;
    margin-left:20px;
    border-color: rgb(242, 242, 242);
    border-radius: 3px;
}

.link-menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;

}
  .link-menu:hover {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    background-color: #fff;
    border-color: rgb(242, 242, 242);
    border-radius: 3px;
  }
}

  
  .menu li:nth-child(1){
    background-color:#007bff;
    margin-left:0px;
  }
  .menu li:nth-child(2){
    background-color: #9b59b6;

  }
  .menu li:nth-child(3) {
    background-color: #e67e22;

  }
  .menu li:nth-child(4) {
    background-color: #16a085;
    margin-right:0px;
  }
