<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url(../assets/imgs/slide/slide1.jpg)"></div>
        <div id="target" class="carousel-item" style="background-image: url(../assets/imgs/slide/slide2.jpg)"></div>
        <div class="carousel-item" style="background-image: url(../assets/imgs/slide/slide3.png)"></div>
        <ul class="menu">
            <li class="layer"><a class="link-menu" routerLink="/auth/login">EXAMES</a></li>
            <li class="layer"><a class="link-menu" routerLink="/auth/login">CONSULTAS</a></li>
            <li class="layer"><a class="link-menu" routerLink="/auth/login">VACINAS</a></li>
            <li class="layer"><a class="link-menu" routerLink="/auth/login">RESULTADOS</a></li>
        </ul>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
