.template_pediatria{
  width:100%;
  height:330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > p{
  vertical-align: middle;
  float: none;
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  top:150px;
}


.filter-by-age {
    color: #6c757d;
  
    .title {
      align-self: center;
    }
  
    .age-slider {
      width: 85%;
    }
  }
  
  .users-list {
    padding: 40px 60px;
  
    .image-col {
      text-align:center;
  
      .image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
    }
    .text-col {
      margin: auto 0px;
    }
    .actions-col {
      text-align: center;
      margin: auto 0px;
  
      .action {
        line-height: 1;
      }
      .icon {
        font-size: 20px;
      }
    }
  }
  
  mat-card  {
    background-color: lightblue;
  }

  .tit1 {
    text-align: center;
    color: mediumorchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
  }