<div class="template_pediatria" style="background-image:url('../assets/imgs/prontuarios.jpg')">
  <div class="container w-75">
    <p class="col-sx-12 col-sm-12 col-md-12">Prontuários</p>
  </div>
</div>

<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <mat-card class="cardcolor">
    <div class="row">
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">Nome: {{item.payload.doc.data().nomecrianca}} <br>
                         Nome da Mãe: {{item.payload.doc.data().nomemae}}</h5>
        <h5 class="mb-1">Telefone: {{item.payload.doc.data().telefone}} </h5>
      </div>
      <div class="col col-md-2 actions-col">
        <button  class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
            <mat-icon>raised</mat-icon>&nbsp;Acessar
        </button>  
      </div>
    </div>
  </mat-card>
  </div>
</div>
