body{
    background-color: blue;
    }
    .example-container {
        display: flex;
        flex-direction: column;
      }
      
      .example-container > * {
        width: 100%;
      }
      
    .example-card{ width: 20%;
        margin-left: 0px;
        height: 13%;
    }
    .example-header-image { width: 20%;
        margin-left: 390px;
        height: 40%;
    }